nav {
    display: flex;
    justify-content: center;
}

header {
    position: static;
    background-color: rgba(0, 255, 255, 0.753);
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    background-color: #abcf08;
    color: beige;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.a {
    color: hsl(108, 93%, 16%);
    margin: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
}

.a:hover {
    background-color: rgba(202, 14, 55, 0.76);
    color: white;
    transform: scale(1.2);
}

@media only screen and (min-width: 230px)and (max-width: 600px) {

    /* Extra small devices (phones, portrait) */
    nav {
        display: grid;
        grid-template-columns: 100%;
        transition: all 0.6s ease;
        gap: 10px;
        display: block;
        position: relative;
    }

    header {
        position: static;
        background-color: rgba(0, 255, 255, 0.753);
        padding: 0;
        display: flex;
        text-align: center;
        font-size: 2.5rem;
        background-color: #abcf0850 transparent;
        color: beige;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .a {
        display: none;
        color: hsl(133, 90%, 12%);
        margin: 30px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 30%;
    }

    .a:first-child {
        display: block;

    }

    .a:hover {
        background-color: rgba(202, 14, 55, 0.76);
        color: white;
        transform: scale(1.2);
        text-align: center;
    }

    nav:hover .a {
        display: block;
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
    nav {
        display: grid;
        grid-template-columns: 100%;
        transition: all 0.3s ease;
        gap: 10px;
        display: block;
        position: relative;
    }

    header {
        position: static;
        background-color: rgba(0, 255, 255, 0.753);
        padding: 0;
        display: flex;
        text-align: center;
        font-size: 5rem;
        background-color: #abcf08 transparent;
        color: beige;
        /* margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem; */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    .a {
        display: none;
        color: hsl(108, 93%, 16%);
        margin: 20px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: all 0.3s ease;
        cursor: pointer;
    }


    .a:first-child {
        display: block;

    }

    .a:hover {
        background-color: rgba(202, 14, 55, 0.76);
        color: white;
        transform: scale(1.2);
        text-align: center;
    }

    nav:hover .a {
        display: block;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Large devices (laptops, small desktops) */
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    /* Extra large devices (desktops) */
}