<<<<<<< HEAD
img {
    height: 200px;
    width: 500px;
    border-radius: 10px 0 10px 0;
}

a {
    text-decoration: none;
    margin: 2.5rem;
    font-size: 1.2rem;
}

main {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 100%;

    }

    div {
        display: grid;
        grid-template-columns: 50% 50%;
        display: block;
        gap: 10px;
        position: relative;
    }

    .a {
        display: none;
        text-decoration: none;
        margin: 2.5rem;
        font-size: 1.2rem;
    }

    .a:first-child {
        display: block;
    }

    div:hover .a {
        display: block;
    }

    .a:hover {
        background-color: rgba(128, 255, 0, 0.534);
        font-size: 2rem;
        color: rgb(24, 3, 1);
        text-align: center;
    }

    img {
        height: 150px;
        width: 350px;
        border-radius: 10px 0 10px 0;
    }

}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    img {
        height: 150px;
        width: 450px;
        border-radius: 10px 0 10px 0;
    }
=======
img {
    height: 200px;
    width: 500px;
    border-radius: 10px 0 10px 0;
}

a {
    text-decoration: none;
    margin: 2.5rem;
    font-size: 1.2rem;
}

main {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 100%;

    }

    div {
        display: grid;
        grid-template-columns: 50% 50%;
        display: block;
        gap: 10px;
        position: relative;
    }

    .a {
        display: none;
        text-decoration: none;
        margin: 2.5rem;
        font-size: 1.2rem;
    }

    .a:first-child {
        display: block;
    }

    div:hover .a {
        display: block;
    }

    .a:hover {
        background-color: rgba(128, 255, 0, 0.534);
        font-size: 2rem;
        color: rgb(24, 3, 1);
        text-align: center;
    }

    img {
        height: 150px;
        width: 350px;
        border-radius: 10px 0 10px 0;
    }

}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    img {
        height: 150px;
        width: 450px;
        border-radius: 10px 0 10px 0;
    }
>>>>>>> a5e1c82 (Initial commit)
}